<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Foodspotting</title>
</head>
<body>
		<table border="1" style="width:600px">
			<caption>Foodspotting</caption>
			<colgroup>
				<col width='15%' />
				<col width='*%' />
			</colgroup>
			<tbody>
				<tr>
					<td>Writer</td> 
					<td><%=row.street%> (<%=row.phone%>)</td> 
				</tr>
				<tr>
					<td>Title</td> 
					<td><%=row.provice%></td> 
				</tr>
				<tr>
					<td>Memo</td> 
					<td><%=row.phone%></td> 
				</tr>
			</tbody>
		</table>    
		<a href="#" onclick="history.back(-1)">List</a>
		<a href="boardDelete?brdno=<%=row.username%>">Delete</a>
		<a href="boardForm?brdno=<%=row.username%>">Modify</a>
</body>
</html>
